<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Fashion</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <a href="/index.html">
            <div class="logo-container">
                <img src="/images/fashion-dude.png" alt="Freaky Fashion Logo" class="logo">
            </div>
        </a>
    
        <div class="search-container">
            <form class="search-form">
                <input type="text" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
            <div class="icons">
                <img src="/images/heart.png" alt="Favorites" class="icon">
                <img src="/images/shopping-cart.png" alt="Cart" class="icon">
            </div>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#home">Nyheter</a></li>
            <li><a href="#about">Kategorier</a></li>
            <li><a href="#contact">Topplistan</a></li>
            <li><a href="#contact">Rea</a></li>
            <li><a href="#contact">Kampanjer</a></li>
        </ul>
    </nav>

    <section id="hero">
        <div class="text-container">
            <h2>Embrace Your Unique Style</h2>
            <p>Discover the latest trends and make them your own.</p>
        </div>
        <div class="hero-image">
            <img src="/images/style.jpg" alt="Style Image">
        </div>
    </section>

    <section id="collections">
        <h2>Collections</h2>
        <div class="collection-container">
            <div class="collection-item">
                <a href="#">
                    <img src="/images/collection-1.jpg" alt="Collection 1">
                </a>
            </div>
            <div class="collection-item">
                <a href="#">
                    <img src="/images/winter-collection.jpg" alt="Collection 2">
                </a>
            </div>
            <div class="collection-item">
                <a href="#">
                    <img src="/images/summer-collection.jpg" alt="Collection 3">
                </a>
            </div>
        </div>
    </section>

    <section id="products">
        <h2>Our Products</h2>
        <div class="product-container">
            <% products.forEach(function(product) { %>
                <div class="product-item">
                    <div class="badge">NYHET</div>
                    <a href="<%= '/product/' + product.slug %>">
                        <img src="<%= product.image %>" alt="<%= product.title %>">
                    </a>
                    <div class="wishlist-icon" onclick="toggleHeartIcon(this)">
                        <img src="/images/heart.png" alt="wishlist">
                    </div>
    
                    <div class="product-details">
                        <div class="product-title-price">
                            <span class="product-title"><%= product.title %></span>
                            <span class="product-price">$<%= product.price %></span>
                        </div>
                        <span class="product-brand"><%= product.brand %></span>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    

    <!-- Guarantees Icon Wrapper -->
    <div class="footer-icons">
        <div class="icon-text">
            <i class="fas fa-globe-europe"></i>
            <p>Gratis frakt och returer</p>
        </div>
        <div class="icon-text">
            <i class="fas fa-plane"></i>
            <p>Expressfrakt</p>
        </div>
        <div class="icon-text">
            <i class="fas fa-shield-alt"></i>
            <p>Säkra betalningar</p>
        </div>
        <div class="icon-text">
            <i class="fas fa-smile"></i>
            <p>Nyheter varje dag</p>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-accordion">
                <!-- Accordion Sections here... -->
            </div>
            <div class="footer-sections">
                <!-- Regular Footer Sections for Larger Screens -->
                <div class="shopping-section">
                    <h3>Shopping</h3>
                    <ul>
                        <li><a href="#">Vinterjackor</a></li>
                        <li><a href="#">Pufferjackor</a></li>
                        <li><a href="#">Kappa</a></li>
                        <li><a href="#">Trenchcoats</a></li>
                    </ul>
                </div>
                <div class="mina-sidor-section">
                    <h3>Mina Sidor</h3>
                    <ul>
                        <li><a href="#">Mina Ordrar</a></li>
                        <li><a href="#">Mitt Konto</a></li>
                    </ul>
                </div>
                <div class="kundtjanst-section">
                    <h3>Kundtjänst</h3>
                    <ul>
                        <li><a href="#">Returpolicy</a></li>
                        <li><a href="#">Integritetspolicy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="footer-copyright">&copy; 2024 Freaky Fashion</p>
    </footer>

    <script src="/javascripts/wishlist.js"></script>
    <script src="/javascripts/accordion.js"></script>   
</body>
</html>
